.header {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    &__link {
        color: inherit;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        &_active {
            color:yellow;
        }
    }
}
